/*Estilos Generales de toda la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/*Estilos del Aside*/

aside{
    background-color: #f7df09;
}

/* Estilos para la Galeria de imagenes */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parrafo{
    float: right;
    width: 76%;
}


.image {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-right: 40px;

}

.image img {
    width: 351px;
    height: 351px;
}

.image:hover {
    transform: scale(1.1);
    z-index: 1;
}

/*Estilos para el Footer*/

footer{
    
}

/*Estilos del Titulo h1*/
.hit-the-floor {
    color: rgb(48, 199, 48);
    font-size: 5em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
    
    .hit-the-floor {
      text-align: center;
    }





/*Estilos de la barra de navegación*/

.nav, .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
    width: 500px;
}

.menu{
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu{
    width: 500px;

}


/*500 px para desplegar*/

.menu li{
    list-style: none;
    margin: 0 10px;
}

.menu li a{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover{
    color: rgb(48, 199, 48);
}

.nav input{
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span{
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
 
}



.nav input:checked ~ span{
    background-color: #83f974;

}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}



.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}


.nav span:nth-child(3) {
    transform: translateY(8px);
}


.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}