/*Estilos Generales de toda la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


/* Estilos para la Galeria de imagenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image img {
    width: 350px;
    height: 300px;
}

.image:hover {
    transform: scale(1.1);
    z-index: 1;
}

/*Estilos para el Footer*/

footer{
    
}
